.news_container {
    display: flex;
    gap: 1rem;
}

.news_card {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1rem;
    padding: var(--gap-sm);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-medium);
    width: 32%;
    height: fit-content;
}

.news_card img {
    height: clamp(5rem,30vw,13rem);
    border-radius: 0.5rem;
}

.news__date {
    color: var(--secondary-text);
}

.arrow_icon_btn {
    background-color: var(--primary-surface);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: auto;
}
